# Ignore everything
*
# Especially the stuborn:
.idea/
.idea/.idea.WarGame/.idea/*
.idea/.idea.WarGame/.idea/encodings.xml
.idea/.idea.WarGame/.idea/indexLayout.xml
# Except
!.gitignore
!src/*.cs
!tst/*.cs
!*.csproj
!*.sln
!readme.md
!LICENSE
